<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
  </head>

   <body>

      <div class="container">
        <h2>Timestamp Microservice</h2>
        <h3>User Stories</h3>
        <ol class="user-stories">
          
          <li>Given either a Unix (Epoch) Timestamp or a natural date within the url of this page.</li>
          <li>A JSON object is returned with both the unix timestamp and the natural language form of that date.</li>
          <li>If an Invalid date is entered the JSON object will return "Invalid Date".
          </li>
        </ol>

        <h3>Example Usage:</h3>
        <ul>
          <li><a href="https://obsidian-attraction.glitch.me/api/timestamp/2018-08-01" target="_blank">https://obsidian-attraction.glitch.me/api/timestamp/2018-08-01</a></li>
          <li><a href="https://obsidian-attraction.glitch.me/api/timestamp/1533081600000" target="_blank">https://obsidian-attraction.glitch.me/api/timestamp/1533081600000</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":"1533081600000","utc":"Wed Aug 01 2018"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Code and Design by YingH
        </p>
      </div>
   </body>

</html>
